 header {
        padding: 35px 0 0;
        text-align: center;
        color: #FFF;
        }
    body {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: max-content;
        background: #FFF !important;
        }
        .texto-email
        {
            justify-content: initial !important;
        }
        .name-email
        {
            color: blanchedalmond;
            font-size: 26px; 
            font-family:inherit  
        }