<template>
  <form>
    <img
      src="{{asset('')}}"
      class="img-fluid"
      alt="Responsive image"
    />
  
   <div class="form-group row">
    <i style="color:blueviolet; padding: 10px; margin-left: 9px;" class="ti ti-user"></i>
    <div class="col-sm-10">
      <input type="text" 
      class="form-control" 
      v-model="name"
      placeholder="Nombre y Apellido" aria-required="">
    </div>
  </div>

  <div class="form-group row">
    <i style="color:blueviolet;padding: 10px; margin-left: 9px;" class="ti ti-email"></i>
   <div class="col-sm-10">
      <input type="email" 
      class="form-control" 
      id="inputEmail3" 
      v-model="email"
      placeholder="Email" aria-required="">
    </div>
    <span></span>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button type="submit" 
      v-on:click="sentForm"

      class="btn btn-primary">Enviar</button>
    </div>
  </div>   
  
  </form>
</template>


<script>

import SubscriberResource from '../src/async-services/SubscriberResource'


export default {
  name: "example-component",

  data: function() {
    return {
      name: "",
      email: "",
      messaje:""
    };
  },
  methods: {
    getEmail: function() {
      let my =this
      let email = my.email
      SubscriberResource.find(
        email,
        my.findByEmailSucces.bind(my),
        my.findByEmailError.bind(my)
      );
    },
    findByEmailSucces(response){
      console.log(response.data)
    },
    findByEmailError(error){
      console.log(error);
    }, 
       
    sentForm: function() {
      let my = this;
      SubscriberResource.create(
        my.createCommand(), 
        my.sentFormSuccess.bind(my), 
        my.sentFormError.bind(my)
      );
    },

    createCommand () {
      let my = this;
      return {
        name: my.name,
        email: my.email,
        messaje:my.messaje
      }
    },

    sentFormSuccess(response) {
      let my = this;
      console.log(response.data);
      
    },

    sentFormError(error) {
      let my = this;
      console.log(error)
    }
  }
};
</script>

